*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    background-color: black;
    color: white;
}

.app {
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap; 
}

.card{
    background-color: white;
    color: rgb(87, 87, 232);
    height: 200px;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    /* gap: 10px; */
    margin: 10px;
    /* display: flex; */

}
.card img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
 .card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.stats{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.tag p{
    font-size: 15px;
    font-weight: 400;
}
.number span {
    font-weight: 300;
    color: rgb(165, 165, 247);
}

.about{
    padding-top: 20px;

}

.about h3{
    font-size: 18px;
    font-weight: 400;
}
.about p {
    padding-top: 5px;
    color: grey;
    font-size: 13.5px;
}